.home {
  background-image: url('../asset/images.jpeg');
  height: 100vh;
  margin-top: 10px;
  font-size: 50px;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-header {
  text-align: center;
  margin: 4rem auto;
  color: green;
  font-size:6rem;
  font-weight:600;
  font-family: 'Courier New', Courier, monospace;
}
