.center-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showNavigation{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 2rem;
}
